<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Category</ion-title>
  </ion-toolbar>

  <ion-slides [options]="slideOpts">
    <ion-slide *ngFor="let cat of categories">
      <ion-chip (click)="load_selected_child($event)">{{
        cat.parent
      }}</ion-chip>
    </ion-slide>
  </ion-slides>
</ion-header>

<ion-content>
  <ion-list *ngFor="let items of current_parent">
    <ion-item (click)="get_selected_category_products($event)">{{
      items
    }}</ion-item>
  </ion-list>
</ion-content>
