<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Category</ion-title>
  </ion-toolbar>

  <ion-slides [options]="slideOpts">
    <ion-slide *ngFor="let cat of categories">
      <button padding (click)="load_selected_child(cat.parent)">
        {{ cat.parent }}
      </button>
    </ion-slide>
  </ion-slides>
</ion-header>

<ion-content>
  <ion-list *ngFor="let items of current_parent">
    <h4>{{ items }}</h4>
  </ion-list>
</ion-content>
