.smaller {
  font-size: 14px;
}

.border-u-d {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.bill {
  margin-left: 5%;
  margin-right: 5%;
  p {
    margin: 0;
    padding: 0;
  }
}
