<ion-header class="head">
  <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
  </ion-buttons>
  <h3 class="ion-padding">Create an account to access more contents</h3>
  <h3 padding>Your details are safe with us</h3>
</ion-header>

<ion-content class="ion-padding">
  <div class="container">
    <small class="danger">Mobile No.</small>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text transparent">IN +91</span>
      </div>
      <input class="form-control border-bottom" />
    </div>
    <small class="danger">Name </small>
    <div class="input-group mb-3">
      <input type="text" class="form-control border-bottom" />
    </div>

    <small class="danger">E-mail</small>
    <div class="input-group mb-3">
      <input type="text" class="form-control border-bottom" />
    </div>
    <small class="danger">Create a password</small>
    <div class="input-group mb-3">
      <input type="password" class="form-control border-bottom" />
    </div>

    <ion-row center>
      <ion-col text-center>
        <ion-button size="small" color="dark">Join</ion-button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
