<ion-header>
  <div class="head">
    <div class="row" style="color: white">
      <div class="col">
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
      </div>
      <div class="col">
        <h4 class="center">SHOP</h4>
      </div>
      <div class="col">
        <ion-icon name="person" style="padding: 20px;float:right;"></ion-icon>
      </div>
    </div>
    <section class="search">
      <input class="searchround" type="text" />
      <button class="search-btn"><ion-icon name="search"></ion-icon></button>
    </section>
  </div>
</ion-header>

<ion-content #scrollArea scrollEvents="true">
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <img
        src="https://dummyimage.com/600x400/000/fff"
        class="img-fluid"
        alt="Responsive image"
      />
    </ion-slide>
    <ion-slide>
      <img
        src="https://dummyimage.com/600x400/000/fff"
        class="img-fluid"
        alt="Responsive image"
      />
    </ion-slide>
    <ion-slide>
      <img
        src="https://dummyimage.com/600x400/000/fff"
        class="img-fluid"
        alt="Responsive image"
      />
    </ion-slide>
  </ion-slides>

  <section class="offers flaoted">
    <div class="container" style="text-align: center">
      <img src="https://img.icons8.com/color/26/000000/discount.png" />
      <small style="color: red">Get upto 40% off on selected products</small>
    </div>
  </section>

  <section class=" container border-u-d">
    <h4>Deal of the Day</h4>
    <div style="text-align: center">
      <img src="https://dummyimage.com/150x150/471a47/fff" alt="" />
    </div>
    <h5>Get 30% cashback on all xyz product</h5>
    <h5>&#8377; 999</h5>
    <button class="btn btn-transparent">Get this Deal</button>
  </section>

  <section class="container border-u-d related">
    <h4>Related to your view history</h4>
    <div class="list">
      <ion-list>
        <ion-item>
          <ion-label>Item 1</ion-label>
          <small>Rs 45</small>
        </ion-item>
        <ion-item>
          <ion-label>Item X</ion-label>
          <small>Rs 45</small>
        </ion-item>
        <ion-item>
          <ion-label>Item u</ion-label>
          <small>Rs 45</small>
        </ion-item>
        <button class="btn btn-transparent">View more</button>
      </ion-list>
    </div>
  </section>

  <section class="container border-u-d">
    <h4>Buy Authentic Merchandise</h4>
    <ion-grid>
      <ion-row center>
        <ion-col text-center>
          <img src="https://dummyimage.com/100x100/471a47/fff" alt="" />
          <h5>item</h5>
          <small>Rs 3453</small>
        </ion-col>
        <ion-col>
          <img src="https://dummyimage.com/100x100/471a47/fff" alt="" />
          <h5>item</h5>
          <small>Rs 3453</small>
        </ion-col>
      </ion-row>
      <ion-row center>
        <ion-col text-center>
          <img src="https://dummyimage.com/100x100/471a47/fff" alt="" />
          <h5>item</h5>
          <small>Rs 3453</small>
        </ion-col>
        <ion-col>
          <img src="https://dummyimage.com/100x100/471a47/fff" alt="" />
          <h5>item</h5>
          <small>Rs 3453</small>
        </ion-col>
      </ion-row>
    </ion-grid>
    <h5 class="center">View all</h5>
  </section>

  <section class=" container top border-u-d">
    <h4>Trending Now</h4>
    <ion-grid>
      <ion-row center *ngFor="let i of rows">
        <ion-col>
          <img src="https://dummyimage.com/120x120/471a47/fff" alt="" />
          <h5>item</h5>
          <small>Rs 3453</small>
        </ion-col>
        <ion-col>
          <img src="https://dummyimage.com/120x120/471a47/fff" alt="" />
          <h5>item</h5>
          <small>Rs 3453</small>
        </ion-col>
      </ion-row>
    </ion-grid>
  </section>

  <section class="container review border-u-d"></section>
</ion-content>
